div(class='box') #{title}

div(class='content')
	h1 Application Status

	table(class='datalist')
		tr(class='column_title')
			td ID
			td Application Name
			td Domain
			td Port
			td State
			td

		each app in apps
			tr
				td #{app.id}
				td #{app.appName}
				td #{app.domain}
				td #{app.standardPort}
				td #{app.state}
				td
					- if (app.id != AppHouse.appID)
						button(onclick='location.href=\'/app/#{app.id}/restart\';') Restart

						- if (app.state == 'running')
							button(onclick='location.href=\'/app/#{app.id}/stop\';') Stop
						- else
							button(onclick='location.href=\'/app/#{app.id}/start\';') Start
