div(class='control_panel')
	div(class='label') #{title}
	div(class='toolbar')
		div(class='button', onclick='location.href=\'/logout\';') Logout

div(class='content')
	h1 Application Status

	table(class='datalist')
		tr(class='column_title')
			td ID
			td Application Name
			td Domain
			td Instances
			td Port
			td State
			td
			td

		each app in apps
			tr
				td #{app.id}
				td #{app.appName}
				td #{app.domain}
				td(style='text-align: center;') #{app.instances}
				td #{app.standardPort}

				- if (app.state == 'running')
					td(class='state_running') #{app.state}
				- else
					td(class='state_stop') #{app.state}

				td
					button(onclick='location.href=\'/app/#{app.id}/console\';') Console

				td
					- if (app.id != AppHouse.appID)
						button(onclick='location.href=\'/app/#{app.id}/restart\';') Restart

						- if (app.state == 'running')
							button(onclick='location.href=\'/app/#{app.id}/stop\';') Stop
						- else
							button(onclick='location.href=\'/app/#{app.id}/start\';') Start
