div(class='box') #{title}

div(class='content')
	h1 Application Status

	table(class='datalist')
		tr(class='column_title')
			td ID
			td Application Name
			td Domain
			td Port
			td State

		each app in apps
			tr
				td #{app.id}
				td #{app.appName}
				td #{app.domain}
				td #{app.standardPort}
				td #{app.state}
